.rating-casino{
  margin-bottom: 50px;
  @include desktop{
    margin-bottom: 40px;
  }
  @include tablet{
    margin-bottom: 30px;
  }
}

.rating-casino__item{
  background-color: #fff;
  box-shadow: 0px 0px 32px rgba(38, 52, 72, 0.08);
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 35px;
  position: relative;
  padding: 15px 0;
  @include desktop{
    margin-bottom: 25px;
  }
  @include tablet{
    padding: 10px 0 25px;
    margin-bottom: 20px;
  }
  @include mobile{
    padding-bottom: 15px;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &.rating-casino__item_top{
    border-color: $red;
  }
}

.rating-casino__item-top{
  position: absolute;
  top: -4px;
  left: -4px;
  width: 124px;
  height: 62px;
  padding: 6px 0 0 6px;
  @include tablet{
    width: 90px;
    height: 54px;
  }
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: '';
    border-top: 62px solid $red;
    border-right: 124px solid transparent;
    width: 0;
    height: 0;
    @include tablet{
      border-top: 54px solid $red;
      border-right: 90px solid transparent;
    }
  }
  span{
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 2;
    @include desktop{
      font-size: 16px;
    }
    @include tablet{
      font-size: 14px;
    }
  }
}

.rating-casino__item-main{
  display: flex;
  align-items: center;
  @include tablet{
    flex-wrap: wrap;
  }
}

.rating-casino__item-left{
  flex: none;
  width: 200px;
  padding: 0 15px;
  @include desktop2{
    width: 190px;
  }
  @include desktop{
    width: 115px;
  }
  @include tablet{
    width: 100px;
  }
  @include mobile{
    width: 100%;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}

img.rating-casino__item-thumbnail{
  display: block;
  margin: 0 auto 15px;
  @include tablet{
    margin-bottom: 5px;
  }
  @include mobile{
    margin-bottom: 0;
    width: 70px;
    margin-right: 10px;
    margin-left: initial;
  }
}

.rating-casino__item-title{
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: #000;
  @include desktop{
    font-size: 18px;
  }
  @include tablet{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  @include mobile{
    margin-bottom: 6px;
  }
}

.rating-casino__item-center{
  width: 100%;
  padding: 10px 30px;
  border-left: 2px solid rgba(234, 28, 75, 0.1);
  border-right: 2px solid rgba(234, 28, 75, 0.1);
  @include desktop2{
    padding: 10px 25px;
  }
  @include desktop{
    padding: 5px 15px;
  }
  @include desktop{
    width: 346px;
    border-right: 0;
  }
}

.rating-casino__item-center-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  @include tablet{
    display: none;
  }
  .trust-players{
    width: 100%;
    margin-right: 15px;
    @include desktop2{
      margin-right: 25px;
    }
    @include tablet{
      display: none;
    }
  }
  .trust-players__title{
    font-size: 16px;
    @include desktop2{
      font-size: 14px;
    }
    @include desktop{
      font-size: 12px;
    }
  }
}

.rating-casino__item-right{
  flex: none;
  width: 275px;
  padding: 0 30px;
  @include desktop2{
    width: 190px;
    padding: 0 25px;
  }
  @include desktop{
    width: 160px;
    padding: 0 15px;
  }
  @include tablet{
    flex: none;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  @include mobile{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  .btn_blue{
    margin-bottom: 15px;
    @include tablet{
      margin-bottom: 0;
      width: 124px;
      height: 28px;
      font-size: 12px;
    }
    @include mobile{
      width: 106px;
      margin: 0 8px;
    }
  }
  .btn_green{
    @include tablet{
      width: 124px;
      height: 28px;
      font-size: 12px;
    }
    @include mobile{
      width: 106px;
      margin: 0 8px;
    }
  }
}

.rating-casino__item-center-main{
  display: flex;
  @include tablet{
    display: block;
  }
  @include mobile{
    display: flex;
  }
  .pros-casino{
    padding-top: 5px;
    @include desktop2{
      padding-top: 8px;
    }
    @include mobile{
      padding-top: 20px;
      margin-left: 10px;
      min-width: 120px;
    }
  }
}

.rating-casino__item-bonuses{
  margin-right: 30px;
  @include desktop2{
    margin-right: 25px;
  }
  @include desktop{
    margin-right: 15px;
  }
  @include tablet{
    margin-right: 0;
  }
  ul{
    list-style: none;
    @include tablet{
      margin-right: 0;
      columns: 2;
    }
    @include mobile{
      columns: 1;
    }
    li{
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 8px;
      text-transform: lowercase;
      @include desktop2{
        font-size: 16px;
      }
      @include desktop{
        font-size: 14px;
      }
      @include tablet{
        font-size: 12px;
        margin-bottom: 15px;
      }
      @include mobile{
        font-size: 10px;
        margin-bottom: 3px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      span{
        font-weight: 800;
        margin-right: 5px;
        @include desktop2{
          font-size: 18px;
        }
        @include desktop{
          font-size: 14px;
        }
        @include mobile{
          font-size: 10px;
          margin-right: 3px;
        }
      }
    }
  }
}

.rating-casino__item-bonuses-title{
  font-weight: 800;
  font-size: 20px;
  color: $green;
  margin-bottom: 8px;
  @include desktop{
    font-size: 16px;
  }
  @include mobile{
    font-size: 14px;
    color: $blue;
    margin-bottom: 3px;
  }
}

.top-10-casino{
  @include tablet{
    /*display: none;*/
  }
}

.top-10-casino__title{
  position: relative;
  z-index: 2;
  font-weight: 800;
  font-size: 26px;
  color: #fff;
  background-color: $green;
  box-shadow: 0 6px 16px rgba(38, 52, 72, 0.08);
  border-radius: 8px 0;
  text-align: center;
  padding: 10px 15px;
  margin: 0 24px;
  @include desktop2{
    font-size: 24px;
  }
  @include desktop{
    margin: 0 80px;
  }
  @include tablet{
    margin: 0 30px;
  }
  @include mobile{
    font-size: 18px;
    margin: 0 20px;
  }
}

.top-10-casino__items{
  margin-top: -28px;
  padding: 60px 25px 30px;
  background-color: #fff;
  box-shadow: 0 0 32px rgba(38, 52, 72, 0.08);
  border-radius: 16px;
  @include desktop2{
    display: flex;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
  @include desktop{
    display: block;
    padding: 60px 80px 30px;
    background-color: #fff;
    box-shadow: 0 0 32px rgba(38, 52, 72, 0.08);
    border-radius: 16px;
  }
  @include tablet{
    padding: 60px 16px 25px;
  }
}

.top-10-casino__items-block1{
  .top-10-casino__item{
    &:first-child{
      padding-top: 0;
    }
  }
  @include desktop2{
    box-shadow: 0 0 32px rgba(38, 52, 72, 0.08);
    border-radius: 16px;
    background-color: #fff;
    padding: 60px 25px 30px;
    width: 50%;
    margin-right: 10px;
    .top-10-casino__item{
      &:last-child{
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
  @include desktop{
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    margin-right: 0;
    .top-10-casino__item{
      &:last-child{
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(38, 52, 72, 0.15);
      }
    }
  }
  @include tablet{
    .top-10-casino__item{
      &:last-child{
        padding-bottom: 15px;
      }
    }
  }
}

.top-10-casino__items-block2{
  @include desktop2{
    box-shadow: 0 0 32px rgba(38, 52, 72, 0.08);
    border-radius: 16px;
    background-color: #fff;
    padding: 60px 25px 30px;
    width: 50%;
  }
  @include desktop{
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  .top-10-casino__item{
    &:first-child{
      @include desktop2{
        padding-top: 0;
      }
      @include desktop{
        padding-top: 15px;
      }
    }
    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
      @include tablet{
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(38, 52, 72, 0.15);
      }
    }
  }
  @include tablet{
    .top-10-casino__item{
      &:first-child {
        padding-top: 15px;
      }
    }
  }
}

.top-10-casino__item{
  padding: 25px 0;
  border-bottom: 1px solid rgba(38, 52, 72, 0.15);
  @include desktop2{
    padding: 15px 0;
  }
  @include mobile{
    padding: 10px 0;
  }
  &.top-10-casino__item_top{
    .top-10-casino__item-top{
      height: 48px;
      width: 48px;
      background-color: $red;
      font-size: 32px;
      top: 0;
      margin-right: 15px;
      @include desktop2{
        height: 32px;
        width: 32px;
        font-size: 18px;
      }
      @include mobile{
        font-size: 14px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.top-10-casino__item-main{
  display: flex;
  align-items: center;
}

.top-10-casino__item-top{
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  background-color: $orange;
  width: 32px;
  height: 32px;
  border-radius: 8px 0;
  margin-right: 31px;
  @include desktop2{
    width: 20px;
    height: 20px;
    font-size: 16px;
    margin-right: 25px;
  }
  span{
    position: relative;
    top: -1px;
    @include desktop2{
      top: 0;
    }
  }
}

.top-10-casino__item-title{
  font-weight: 800;
  font-size: 20px;
  @include desktop2{
    font-size: 14px;
  }
}

.top-10-casino__item-bonus{
  font-weight: 800;
  font-size: 18px;
  text-transform: lowercase;
  @include desktop2{
    font-size: 14px;
  }
  @include mobile{
    font-size: 10px;
  }
}

.top-10-casino__item-center{
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: $dark;
}

.top-10-casino__item-thumbnail{
  flex: none;
  width: 76px;
  display: block;
  margin-right: 15px;
  @include desktop2{
    width: 50px;
  }
  @include mobile{
    display: none;
  }
}

.top-10-casino__item-rating{
  margin-left: auto;
  img{
    display: block;
    @include desktop2{
      width: 22.5px;
      margin: 0 auto;
    }
    @include mobile{
      width: 20px;
    }
  }
  span{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
    @include desktop2{
      font-size: 16px;
    }
    @include mobile{
      font-size: 12px;
    }
  }
}

.top-10-casino__item-buttons{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  @include desktop2{
    padding: 0;
  }
  @include desktop{
    justify-content: flex-end;
  }
  @include mobile{
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px -8px 0;
  }
  .btn{
    width: 134px;
    margin-left: 16px;
    @include mobile{
      width: 116px;
      height: 32px;
      font-size: 12px;
      margin: 0 8px;
    }
  }
}

.rating-casino__item-rating{
  display: none;
  text-align: center;
  @include tablet{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 15px;
      height: 15px;
      margin-right: 7px;
    }
    &>span{
      font-size: 14px;
      font-weight: 600;
      &>span{
        color: $orange;
      }
    }
  }
  @include mobile{
    img{
      width: 22px;
      height: 22px;
    }
    &>span {
      font-size: 14px;
    }
  }
}